@use './partials/setup';
@use './partials/variables' as *;
@use './partials/resets';
@use './partials/typography';
@use './partials/wrapper';
@use './partials/header';
@use './partials/nav-bar';
@use './partials/form';
@use './partials/loader';
@use './partials/sections';
@use './partials/dates';
@use './partials/flag-box';
@use './partials/media-queries';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto:ital,wght@0,100;0,400;0,500;1,100;1,400;1,500&display=swap');

.page {
    .wrapper {
        @include flex-center(column, space-between, center);
        .matches {
            width: 100%;
        }
    }
}


.matches {
    margin:auto;
    
    .date{
        .match-header{
            margin: 20px auto;
        }
        margin:auto;
        .match-table{
            margin:auto;
        }
    }


    .load-wrapp {
        align-self: center;

    }

    .date {
        align-self: stretch;
    }
}
